
<div id="container" class="layout horizontal">
    <div id="header">Security Tactics App</div>
    <div id="body-container">{{outlet}}</div>
    <div id="footer">Created by Richard Dworschak, Lukas Walisch</div>

</div>