<div id="tactics-container">
    <h4>All Tactics</h4>
    <div id="tactic-list-container">
        <paper-listbox>
            <paper-item>tactic 1</paper-item>
            <paper-item>tactic 2</paper-item>
            <paper-item>tactic 3</paper-item>
        </paper-listbox>
    </div>
    <h4>All Patterns</h4>
    <div id="tactic-list-container">
        <paper-listbox>
            <paper-item>pattern 1</paper-item>
            <paper-item>pattern 2</paper-item>
            <paper-item>pattern 3</paper-item>
        </paper-listbox>
    </div>
</div>
<div id="mappings-container">
    test mapping
</div>
<div id="patterns-container">test pattern</div>





